.set_left{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0%;
    background-color: #d2e3ee;
}
.set_dash{
    display:flex;
    flex-direction:column;
    width:80%;
    height:100%;
    position: absolute;
    left:20%;
    padding: 30px;
    // background-color: blanchedalmond;
}
.set_item{
    font-weight: 300;
    padding: 6px 10px;
    input{
        border: 1px solid rgba(85, 85, 85, 0.411);
        padding: 4px 6px;
        background-color: rgb(221, 221, 221);
        transition: all 0.1s;
    }
    input:focus{
        background-color: rgb(255, 255, 255);
    }
    button{
        cursor: pointer;
        vertical-align: bottom;
        height: 20px;
        // width: 50px;
        margin: 0 4px;
        padding: 6px 20px;
        border:none;
        background-color: rgba(85, 85, 85, 0.253);
        transition: all 0.1s;
    }
    button:hover{
        background-color: rgba(85, 85, 85, 0.212);
    }
}