.screen{
    --ui-font-size: 12px;
    --ui-list-item-height: 20px;
    --bar-height: 40px;
    --menu-bar-height: 30px;
    --menu-bar-button-size:12px;
    --startmenu-icon-width:40px;
    --startmenu-icon-width-hover: 200px;
    --start-option-size: 50px;
    --menulist-width: 160px;
    --menulist-item-height: 30px;
    --magnet-width: 380px;
    --magnet-item-size:80px;
    --desk-item-size: 80px;
    --contextmenu-width: 160px;
    --color-magnet:#e5e5e5ad;
    --color-magnet-item: #f2f2f2bb;
    --color-startmenu-opacity:#d0d0d0da;
    --color-startmenu:#d0d0d0;
    --color-gray: #ededed;
    --color-gray-hover : #f2f2f2;
    --color-gray-active: #ffffff;
}