.screen{
    --ui-font-size: 12px;
    --ui-list-item-height: 20px;
    --bar-height: 40px;
    --menu-bar-height: 30px;
    --menu-bar-button-size:12px;
    --desk-item-size: 80px;
    --contextmenu-width: 160px;
    --color-gray: #ededed;
    --color-gray-hover : #e0e0e0;
}