.scroll-bar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: all 0.1s;
}

::-webkit-scrollbar-track {
  background-color: rgba(239, 239, 239, 0.055);
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(198, 197, 197, 0.201);
}
.scroll-bar::-webkit-scrollbar-thumb {
  background: #33333300;
  box-shadow: -4px 0px 0px 0px #222 inset;
  border-radius: 0;
  transition: all 0.1s;
}

.scroll-bar:hover::-webkit-scrollbar {
  width: 10px;
  transition: all 0.1s;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #33333394;
  box-shadow: 0px 0px 0px 0px #222 inset;
}
